<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Página de Productos</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>

  <body>
    <h1>Bienvenidos A Los Productos</h1>
    <a href="/register">Register</a> | <a href="/login">Login</a>
  </body>
</html>
