<!DOCTYPE html>
<html>
  <head>
    <title>Creá tu usuario</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"
    />
  </head>
  <body>
    <h1>Creá tu usuario</h1>
    <form action="/register" method="post">
      <label for="username">Nombre:</label>
      <input type="text" id="username" name="username" required />
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required />
      <button type="submit">Crear usuario</button>
    </form>
    <a href="/">Volver al Inicio</a>
  </body>
</html>
